__pycache__/
# Environments
.env
.venv
env/
venv/
ENV/
env

results/
data/iwslt14
quantitative_analysis_v2.ipynb
trash.ipynb
m2m_analysis.ipynb
bart.ipynb
generate.sh
evaluation.ipynb
tokenize_m2m_data.sh
tokenize_data_preprocess.sh
m2m_analysis_copy.ipynb
nllb_interpretability.ipynb
prepare-iwslt14.sh
preprocess_bilingual_data.sh
preprocess.py

.vscode/
